* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
   
   
}
body{
   
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

  
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
   width: 100%;
   height: 100%;
  
}

.container {
    box-shadow: 5px 10px #404040;
    
    width: 80%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b2 {
    margin-left: 10px;
}

.btn {
    width: 120px;
    height: 60px;
    background-color: black;
    font-size: 2rem;
    letter-spacing: 0.1em;
    border: none;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.btn:hover {
    background-color: green;
    color: white;
    transform: translate(-10px);
}

.welcome_form input, .welcome_form button {
    display: block;
    width: 100%;
}

input {
    height: 40px;
    border: none;
    background-color: #ffffff;
    font-size: 20px;
    border-bottom: 2px solid black;
    text-align: center;
}

input:focus, button:focus {
    outline: none;
}

/* input:hover{
    background-color: black;
    color:#ffffff;

} */

input::placeholder {
    font-size: 20px;
}

